body {
    margin: 50px 0 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}
h1, h2, nav {
    font-family: 'Playfair Display', serif;
}
p, .about ul {
    font-family: 'El Messiri', sans-serif;
}
nav ul {
    margin: auto;
}
h1, nav ul li a {
   letter-spacing: .2em;
}
.social {
    margin-top: 50px;
    height: 100px;
}
.social a {
    margin: 10px 20px;
}
.social i {
    color: black;
    font-size: 1.1em;
}
.social p {
    margin-top: 10px;
    letter-spacing: 0.5em;
    font-size: .9em;
}
.carousel-item img{
    width: 500px;
    height: 600px;
    margin: auto;
}
.gallery a {
    transition: 0.3s;
}
.gallery a:hover {
    opacity: .5;
}
.gallery img {
    width: 225px;
    height: 300px;
    box-shadow: 5px 10px 5px grey;
}
.gallery .row {
    padding-top: 35px;
}
.about-title {
    text-decoration: red underline;
}
.about {
    margin-top: 50px;
}

.about img {
    width: 400px;
    height: 400px;
    margin: 0 50px 50px;
    box-shadow: 5px 10px 5px grey;
}
.about ul {
    list-style: none;
}

.contact {
    margin-top: 50px;
}
.contact h2 i {
    font-size: 3em;
    color: aquamarine;
}

@media (max-width:550px){
    .about img {
        width: 80vw;
        margin: 0 auto;
    }
    .about .text-left {
        text-align: center !important;
        margin-top: 40px;
    }
}

@media (max-width:400px) {
    header .container {
        padding: 0;
    }
    .navbar-expand .navbar-nav .nav-link {
        padding: 1px;
        font-size: .8em;
        margin: auto;
    }
    .carousel-item img{
        width: 100%;
        height: 100%;
    }
    .contact form {
        margin-bottom: 50px;
    }
}