/* general styles */
body {
    margin: 50px 0 0;
    padding: 0;
    /* fallback font */
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}
h1, h2, nav, .gallery button {
    font-family: 'Playfair Display', serif;
}
p, .about ul, .gallery h4 {
    font-family: 'El Messiri', sans-serif;
}
nav ul, .carousel-item img {
    margin: auto;
}
h1, nav ul li a {
   letter-spacing: .2em;
}
.navbar-light .navbar-nav .active > .nav-link {
    text-decoration: underline;
}
.social {
    height: 100px;
}
.social a {
    margin: 10px 20px;
}
.social i {
    color: #222;
    font-size: 1.1em;
}
.social i:hover, .social i:active {
color: lightcoral;
}
.social p {
    margin-top: 10px;
    letter-spacing: 0.5em;
    font-size: .9em;
}
.about, .contact, .social, .gallery .grid {
    margin-top: 50px;
}
/* Home */
.carousel-item img{
    width: 500px;
    height: 600px;
}
/* Gallery */
button:hover, button .active,.btn.focus, .btn:focus {
    color: #eee;
    background-color: lightcoral;
    box-shadow: none;
}
.gallery .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 20px;
}
.gallery a {
    transition: 0.3s;
}
.gallery a:hover {
    opacity: .7;
}
.gallery img {
    width: 225px;
    height: 300px;
    box-shadow: 5px 10px 5px grey;
}
/* About */
.about a {
color: lightcoral;
}
.about a:hover {
    text-decoration: underline;
}
.about-title h2{
    text-decoration: lightcoral underline;
}

.about img {
    width: 400px;
    height: 400px;
    margin: 0 50px 50px;
    box-shadow: 5px 10px 5px grey;
}
.about ul {
    list-style: none;
}
/* Contact */
.contact h2 i {
    font-size: 3em;
    color: lightcoral;
}

/* Media Queries */
/* ---------------- */
/* Gallery Grid */
@media (max-width:1000px){
    .gallery .grid {
        grid-template-columns: repeat(3, 1fr);
        margin: 50px auto;
    }
}
@media (max-width:850px){
    .gallery .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:475px){
    .gallery button {
        margin: 5px;
    }
    .gallery .grid {
        grid-template-columns: 1fr;
    }
}

/* About Grid */
@media (max-width:550px){
    .about img {
        width: 80vw;
        margin: 0 auto;
    }
    .about .text-left {
        margin-top: 40px;
    }
}
/* General Queries */
@media (max-width:400px) {
    header .container {
        padding: 0;
    }
    .navbar-expand .navbar-nav .nav-link {
        padding: 2px;
        font-size: .8em;
        margin: auto;
    }
    .carousel-item img{
        width: 100%;
        height: 100%;
    }
    form {
        margin-bottom: 50px;
    }
}